@model IEnumerable<ArERP.Models.Entity.Department>

<h2>部门列表</h2>

<p>
    <a asp-action="Create">添加部门</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>部门编号</th>
            <th>部门名称</th>
            <th>创建日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.DepartmentName</td>
                <td>@item.CreationDate</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">详情</a>
                </td>
            </tr>
        }
    </tbody>
</table>