
<div class="p-4">
    <h2 class="text-2xl">Welcome</h2>
    <p>12312312312</p>
</div>

<a class="bg-blue-500 text-white p-4 m-4 hover:bg-blue-600 hover:shadow-2xl transition duration-200 rounded-lg"
   asp-controller="Home" asp-action="Dashboard">电子看板</a>